$body-font-stack: 'Open Sans', Helvetica, Arial, sans-serif;
$header-font-stack: 'Lato', Helvetica, Arial, sans-serif;
//theme-color: #BBB;
$theme-color: #333;
$secondary-color: black;
$tertiary-color: rgb(200, 10, 10);

$header-line-height: 25px;

$table-width: 94vw;
$mobile-table-width: $table-width; //$table-width * 3 / 5;
$min-table-width: 400px; //$table-width * 3 / 5;
$search-width: 250px;

$cell-padding: 4px;

$media-cutoff: 768px;