body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #262626;
}

div.app-header {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  color: white;
  background-color: black;
  border-bottom: 1px solid #4d0000;
}
div.app-header div.header-title {
  float: left;
  line-height: 25px;
}
div.app-header div.header-title h2.title {
  font-weight: normal;
  margin: 7px 15px;
}
div.app-header div.header-nav {
  float: right;
  line-height: 25px;
  margin: 7px 15px;
}
div.app-header div.header-nav a.navigation.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
div.app-header div.header-nav a.navigation.nav-link:hover {
  color: #ffc2c2;
}
div.app-header div.header-nav a.navigation.nav-link.current {
  color: #ff8f8f;
  cursor: default;
}

/* search bar */
input.search {
  display: block;
  width: 166.6666666667px;
  margin: 7px auto;
  padding: 4px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #333;
}

table.table {
  margin: 5px auto;
  border-collapse: collapse;
  border: 1px solid #333;
}

/* table header */
thead.table-header {
  font-weight: bold;
  cursor: default;
}
thead.table-header th.table-header {
  padding: 8px 4px;
  border: 1px solid #333 !important;
  color: black;
  background-color: #707070;
  text-transform: capitalize;
}
thead.table-header th.table-header:hover {
  background-color: dimgray;
}
thead.table-header th.table-header.sortable {
  cursor: pointer;
}

/* table body */
tbody.table-body tr.odd-row {
  background-color: #f2f2f2;
}
tbody.table-body tr.even-row {
  background-color: #d9d9d9;
}
tbody.table-body tr:hover {
  cursor: default;
  background-color: #FFF5F5;
}
tbody.table-body tr td.table-cell {
  margin: 0;
  padding: 8px 4px;
  border-left: 1px solid #525252;
  border-right: 1px solid #525252;
}
tbody.table-body tr td.table-cell.left-end {
  border-left-color: #333;
}
tbody.table-body tr td.table-cell.right-end {
  border-right-color: #333;
}

@media screen and (min-width: 1001px) {
  table.table {
    width: 1000px;
  }
}
@media screen and (max-width: 1000px) {
  table.table {
    width: 600px;
  }

  .mobile-hidden {
    display: none !important;
  }
}
