body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

div.app-header {
  width: 100%;
}
div.app-header h2.title {
  text-align: center;
}
div.app-header div.navigation {
  text-align: center;
}
div.app-header a.navigation.nav-link {
  text-decoration: none;
}
div.app-header a.navigation.nav-link:hover {
  color: black;
}
div.app-header a.navigation.nav-link:visited {
  color: black;
}
div.app-header a.navigation.nav-link.current {
  color: black;
  font-weight: bold;
  cursor: default;
}

/* search bar */
input.search {
  display: block;
  width: 166.6666666667px;
  margin: 7px auto;
  padding: 4px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #BBB;
}

table.table {
  margin: 5px auto;
  border-collapse: collapse;
  border: 1px solid #BBB;
}

/* table header */
thead.table-header {
  font-weight: bold;
  cursor: default;
}
thead.table-header th.table-header {
  padding: 8px 4px;
  border: 1px solid #BBB !important;
  color: black;
  background-color: #f8f8f8;
  text-transform: capitalize;
}
thead.table-header th.table-header:hover {
  background-color: #f1f1f1;
}
thead.table-header th.table-header.sortable {
  cursor: pointer;
}

/* table body */
tbody.table-body tr.odd-row {
  background-color: white;
}
tbody.table-body tr.even-row {
  background-color: #FFF5F5;
}
tbody.table-body tr:hover {
  cursor: default;
  background-color: #ffe1e1;
}
tbody.table-body tr td.table-cell {
  margin: 0;
  padding: 8px 4px;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
tbody.table-body tr td.table-cell.left-end {
  border-left-color: #BBB;
}
tbody.table-body tr td.table-cell.right-end {
  border-right-color: #BBB;
}

@media screen and (min-width: 1001px) {
  table.table {
    width: 1000px;
  }
}
@media screen and (max-width: 1000px) {
  table.table {
    width: 600px;
  }

  .mobile-hidden {
    display: none !important;
  }
}
